
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif */
}
body{
    color: white;
    font-family: 'Open Sans', sans-serif;
}


#mainDiv{
    background-image: url(img/IMG_0142.jpg);
    position: relative;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: image 25s infinite ease-in-out;
    
    
}
@keyframes image {
    0%{
      background-image: url("img/IMG_2581_v2.jpg");
    }
    33%{
      background-image: url("img/IMG_0142.jpg");
    }
    66%{
      background-image: url("img/IMG_9834.jpg");
    }
    100%{
      background-image: url("img/IMG_7921.jpg");
    }
  }
nav{
    position: absolute;
    top:0;
    right: 0;
    width: 30%;
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 2vw;
}

.menu{
    position: relative;
    top: 50px; 
    right: 50px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 50px;
}

.menu li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    color: blueviolet;
}

.showSections{
    display: none;
}

.menu>li:hover ul{
    display: block;
    font-size: 1.5vw;
    margin: 20px;
}

.showSections li {
    margin: 10px;
}
.fa-brands:hover{
    color: blueviolet;
}
#hero-text{
    position: relative;
    right: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    

}


 h1{
    width: 50%;
    color: white;
    text-align: right;
    font-size: 5vw;

  }

#cta-btn{
    text-align: center;
    width: 50%;
    font-weight: 800;
    border: 2px solid white;
    background-color: transparent;
    font-size: 2.8vw;
    padding: 0.4rem;
    cursor: pointer;
    color: white;
    
}

#cta-btn:hover{
    color: black;
    background: white;
    mix-blend-mode: screen;
}



h2{
    padding: 2rem;
    text-align: center;
}

#nature{
    background-color: rgb(24, 24, 27);
    text-align: center;
    padding: 2rem;
    position: relative;
    
}  

.imgsCategory-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.img-container{
    width: 15rem;
    height:10rem;
    margin: 10px;
    overflow: hidden;
    background-color: white;
}

.img-container img{ 
    width: 100%;
    scale: 2;
}

.img-container img:hover{
    cursor: pointer;
    
}

.bigImg{
    background-color: rgba(39, 40, 41, 0.493);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
   
  
}

@media screen and (max-width:880px) {
  
    .bigImg img{
        /*height: 25vh;*/
        width: 25vh;
    }
}
.bigImg img{
    width: 35%;
    /* transform: translate(0%, 20%); */
    position: relative;
   top:15%;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 0;
    left: 0;
}

#people{
    background-color: rgb(228, 183, 128);
    position: relative;
    text-align: center;
    padding: 2rem;
}

#other{
    background-color: black;
    padding: 2rem;
    position: relative;
    text-align: center;
}

#about{
    
    background-color: rgb(39, 30, 27);
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  }

  #about img{
    width: 200px;
  }

  footer{
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 5rem;
  }